body{
    background-color: black;
    color: aliceblue;
    padding: 5px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 95vh;

  }
  .main{
    text-align: center;    
    background-color: black;
  }